<div class="login-page-container">
    <div class="inputs-container">

        <div class="header">
            <h1>Login</h1>
        </div>

        <div class="fields">
            <label>Email</label>
            <input type="email" placeholder="Digite seu e-mail" required>
        </div>

        <div class="fields">
            <label>Senha</label>
            <input type="password" placeholder="Digite sua senha" required>
        </div>

        <div class="fields">
            <button>Login</button>
        </div>

        <div class="fields">
            <label>Caso não tenha um conta, <a>cadastre-se aqui</a></label>
        </div>


    
    </div>

</div>
