.header {
  
    .app-title {
        position: relative;
      font-weight: bold;
      font-size: 1.5rem;
      left: 5%;
    }
  
    .spacer {
      flex: 1 1 auto; /* Faz o espaço entre o título e os ícones */
    }
  }
  