mat-sidenav-container {
    width: 60px;
    height: 100vh;
    transition: width 0.5s ease;
  }
  
  
  mat-sidenav-container:hover {
    width: 250px; 
  }
  
  mat-sidenav-container:hover .entry .label {
    display: inline;
  }
  
  mat-icon {
    transition: transform 0.3s ease;
  }
  
  mat-sidenav-container:hover mat-icon {
    transform: scale(1.1);
  }
  
