.register-page-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5); /* Sobreposição preta com 50% de transparência */
    overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse os limites do contêiner */
}

.register-page-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/background-login.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Aplica o desfoque */
    z-index: 1; /* Coloca o pseudo-elemento atrás do conteúdo */
}

.inputs-container {
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima da imagem desfocada */
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com 90% de opacidade */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 90%;
    margin-bottom: 30px;
}

.header {
    position: relative;
    bottom: 30px;
}

.fields {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: sans-serif;
    bottom: 70px;
}

.fields input, select {
    height: 40px;
    border-radius: 10px;
    padding-left: 10px; /* Adiciona um espaçamento à esquerda do texto dentro do input */

    border-width: 1px; /* Borda de 1px de espessura */

}

.fields button {
    height: 45px;

    background-color: #abebc6;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave */


}

.fields button:hover {
    background-color: #58d68d;
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão */
}

@media (max-width: 1600px) and (min-width: 900px) {
    .header {
        position: relative;
        bottom: 30px;
    }
    .fields {
        position: relative;
        bottom: 70px;
        margin-top: 10px;
    }
    .fields input, select {
        height: 34px;
        border-radius: 10px;
    }
    .fields button {
        position: relative;
        bottom: 10px;
    }

    #login-label {
        position: relative;
        bottom: 20px;
    }
}

@media (max-width: 1368px) and (min-width: 768px) {
    .header {
        position: relative;
        bottom: 30px;
    }

    .fields {
        margin-top: 8px;
    }

    .fields input, select {
        height: 23px;

    }

    .fields button {
        position: relative;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .inputs-container {
        width: 300px;
    }
    .fields {
        margin-top: 4px;

    }

    .fields input, select {
        height: 35px;

    }



}